.home {
    height: 100%;
    padding-top: 32vh;
    overflow: hidden;
    align-items: center;
    text-align: center;

    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($color__primary);

        &--last {
            color: $color__secondary;
            font-weight: 800;
        }
    }

    &__moto {
        color: $color__secondary;
        font-size: 2.5rem;
        font-weight: 350;
    }
}

.slider {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.sliderImg {
    width: 70%;
    height: auto;
    object-fit: cover;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

.alice-carousel__dots {
    margin: 1px 3px 5px;
}

.alice-carousel__next-btn-wrapper {
    position: absolute;
    top: 77px;
    right: 43px;
}

.alice-carousel__prev-btn-wrapper {
    position: absolute;
    top: 80px;
}