<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/main.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>About Top Tech</title>
</head>

<body>
    <header>
        <div class="menu-btn">
            <span class="menu-btn__burger"></span>
        </div>

        <nav class="nav">
            <ul class="menu-nav">
                <li class="menu-nav__item">
                    <a href="/src/views/index.html" class="menu-nav__item--link">Home</a>
                </li>
                <li class="menu-nav__item active">
                    <a href="/src/views/about.html" class="menu-nav__item--link">About</a>
                </li>
                <li class="menu-nav__item">
                    <a href="/src/views/products.html" class="menu-nav__item--link">Products</a>
                </li>
                <li class="menu-nav__item">
                    <a href="/src/views/contact.html" class="menu-nav__item--link">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="about">
            <div class="about__bio-image"></div>
            <div class="about__bio">
                <h2 class="text-secondary">About us</h2>
                <p>We sell cool tech stuff on affordable prices.</p>
            </div>

            <div class="products">
                <div class="products__product">
                    <h2 class="text-secondary">Laptops</h2>
                    <h3>Apple</h3>
                    <h3>Samsung</h3>
                    <h6>and many more...</h6>
                    <p>You will find the best laptops in our shop.</p>
                </div>
                <div class="products__product">
                    <h2 class="text-secondary">Personal computers</h2>
                    <h3>Razer</h3>
                    <h3>IBM</h3>
                    <h6>and many more...</h6>
                    <p>We offer some nice PC configurations.</p>
                </div>
                <div class="products__product">
                    <h2 class="text-secondary">Smartphones</h2>
                    <h3>Apple</h3>
                    <h3>Samsung</h3>
                    <h6>and many more...</h6>
                    <p>Most populars phones on the market are here in our shop.</p>
                </div>
            </div>

            <div class="social-icons">
                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

            <footer>Copyright &copy; 2021 TopTech, Inc</footer>
        </section>
    </main>

    <script src="../js/app.js"></script>
</body>

</html>